@page "/"
@inject IJSRuntime _jsRuntime

<div id="mapboxMap" style="width: 100%; height: 100%"></div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        _jsRuntime.InvokeVoidAsync("mapbox.init");
    }

    [JSInvokable]
    public static void MapClicked(int id)
    {
        Console.WriteLine($"You clicked {id}");
    }
}
