@page "/"
@inject IJSRuntime _jsRuntime

<div id="mapboxMap" style="width: 100%; height: 100%"></div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _jsRuntime.InvokeVoidAsync("mapbox.init");
    }
}
