@using WhereBNB.Client.Model
<div @onclick="async () => await HandleClicked()">
    <h5>@Listing.Name</h5>
    <p>$@Listing.Price</p>
</div>

@code {
    [Parameter]
    public SummaryListing Listing { get; set; }

    [Parameter]
    public Func<int, Task> Clicked { get; set; }

    private async Task HandleClicked()
    {
        await Clicked(Listing.Id);
    }
}