@using WhereBNB.Client.Model
@inject IHttpClientFactory _clientFactory;
@inject IJSRuntime _jsRuntime;

<div>
    @if ((Listings != null && Listings.Count != 0) && !ShowDetails)
    {
    <div class="listings">
        @foreach (var listing in Listings)
        {
            <ListingCard Listing="@listing" />
        }
    </div>
    <Pagination ChangePage="@HandleChangePage" MaxPage="@MaxPage" />
    }
    @if (ShowDetails && SelectedListing != null)
    {
        <p>@SelectedListing.Name</p>
    }
</div>


@code {
    private DotNetObjectReference<Sidebar> _objectReference;
    private List<SummaryListing> Listings { get; set; }
    private Func<int, Task> HandleChangePage { get; set; } = _ => Task.CompletedTask;
    private int MaxPage { get; set; }
    private readonly int _pageSize = 10;
    private bool ShowDetails { get; set; }
    private Listing SelectedListing { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Listings = new();
        var client = _clientFactory.CreateClient("api");
        var listingCount = await client.GetFromJsonAsync<double>("listings");
        MaxPage = (int)Math.Ceiling(listingCount / _pageSize);
        Listings = await client.GetFromJsonAsync<List<SummaryListing>>($"listings?page=1&pageSize={_pageSize}");
        HandleChangePage = async i =>
        {
            Console.WriteLine($"Changing page to {i}");
            Listings = await client.GetFromJsonAsync<List<SummaryListing>>($"listings?page={i}&pageSize={_pageSize}");
            StateHasChanged();
        };
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            _objectReference = DotNetObjectReference.Create(this);
            await _jsRuntime.InvokeVoidAsync("mapbox.init", _objectReference);
        }
    }

    [JSInvokable]
    public async Task PointClicked(int id)
    {
        var client = _clientFactory.CreateClient("api");
        var listing = await client.GetFromJsonAsync<Listing>($"listings/{id}");
        SelectedListing = listing;
        ShowDetails = true;
        StateHasChanged();
    }
}