@using WhereBNB.Client.Model
@using System.Runtime.CompilerServices
@inject IHttpClientFactory _clientFactory;

<div>
    @if ((Listings == null || Listings.Count != 0) && !ShowDetails)
    {
        @foreach (var listing in Listings)
        {
            <ListingCard Listing="@listing" />
        }
    }
    @if (ShowDetails)
    {
        
    }
</div>


@code {
    private List<SummaryListing> Listings { get; set; }
    private static bool ShowDetails { get; set; }
    private static Listing SelectedListing { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Listings = new();
        var client = _clientFactory.CreateClient("api");
        Listings = await client.GetFromJsonAsync<List<SummaryListing>>("listings");
        
    }

    [JSInvokable]
    public static void PointClicked(int id)
    {
        
        Console.WriteLine($"You clicked {id}");
        ShowDetails = true;
    }
}