.sidebar {
    width: 30%;
    min-width: 400px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}

.listings {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}